
.flex-container {
    display: flex;
    justify-content: space-between;
    height: 400px;
    padding: 20px;
    margin-bottom: 20px;
    border: 2px solid black;
}

.column {
    text-align: center;
    background-color: lightblue;
    margin: 0 10px;
    width: 500px;
    align-items: stretch;
}

.flex-container2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    padding: 20px;
    margin-bottom: 20px;
    border: 2px solid black;
}

.box {
    text-align: center;
    background-color: lightblue;
    padding: 20px;
    margin: 10px;
}
